@namespace LPSections
@using Components

<Section Id="story" BackgroundColor="#fafafa">
    <div class="col-12 col-sm-6 section-image">
        <img src="https://demo.ayroui.com/templates/business-template/assets/images/about/about-img1.jpg" />
    </div>
    <div class="col-12 col-sm-6 section-content">
        <h2>Our Story</h2>
        <h1>Our team comes with the experience and knowledge</h1>
        <div class="section-tab-controll">
            <MatButton Unelevated="@(SectionSelected == 0)" Outlined="@(SectionSelected != 0)"
                OnClick="@(() => selectSection(0))">Who We Are</MatButton>
            <MatButton Unelevated="@(SectionSelected == 1)" Outlined="@(SectionSelected != 1)"
                OnClick="@(() => selectSection(1))">Our Vision</MatButton>
            <MatButton Unelevated="@(SectionSelected == 2)" Outlined="@(SectionSelected != 2)"
                OnClick="@(() => selectSection(2))">Our History</MatButton>
        </div>
        <div class="section-container">
            <div class="section-item @isSectionActive(0)">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of
                    letters, look like readable English.
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have in some form,
                    by
                    injected humour.
                </p>
            </div>
            <div class="section-item @isSectionActive(1)">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                </p>
                <p>
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many desktop
                    publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                    search for 'lorem ipsum' will uncover many web sites still in their infancy.
                </p>
            </div>
            <div class="section-item @isSectionActive(2)">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                </p>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum."
                </p>
            </div>
        </div>
    </div>
</Section>

@code
{
    private int SectionSelected { get; set; } = 0;

    private void selectSection(int section)
    {
        SectionSelected = section;
    }

    private string isSectionActive(int section)
    {
        return SectionSelected == section ? "active" : "";
    }
}